/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilizar utilizando o seletor de uma TAG */

/* Sintaxe do CSS :


seletor{propriedade:valor} --> regra de CSS


*/

body{

    background-color: lightgray;
    width: 100vw;
    height: 10vh;
}
/* estilizando utilizando uma classe */
.content-header{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 1120px;
    height: 550px;
    background-color: darkgray;
    margin: 0 auto;
}

.banner-header{
    width: 1070px;
    height: 287px;
    background-color: aliceblue;
    display: flex;
}
.content-hero{
    
    width: 50%;
    height: 66%;

    display: flex;
    /* alinhamento horizontal (x) */
    justify-content: space-between;
    /* alinhamento vertical (y) */
    align-items: center;
    /* margem */
    margin: 0 auto;
    /* alinhamento do texto */
    text-align: center;
    
}

.box{
    border: 2px solid;
    border-radius: 25px;
    height: 455px;
    width: 285px;
}

