/* reset padrão */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    background-color: bisque;
    width: 250px;
    height: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: #fff;
}

body{
    height: 75vh;
    width: 75vh;
    display: flex;
    background-color: #fff;
    align-content: center;
    justify-items: center;
    margin: 100px;

}

.main{
     display: flex;
    align-content: center;
    justify-items: center;
    height: 150px;
    width: 60px;
    
}

conteudo-principal{
    display: flex;
    
}

img{
    height: 75vh;
    display: ;


}


